body {
  background-color: #e5e5e5;
  font-size: 18px;
  font-family: 'airbnb', sans-serif;
}
/* top md8 */
/* menu */

.home .col-md-8 {
  display: flex;
  justify-content: space-between;
}

.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* .menu-icon {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
} */
.menu-icon button {
  margin-top: 15px;
  margin-left: 18px;
}

/* fooditem */
.col-md-8 p {
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
}

/* search */
.col-md-8 .search button img {
  margin-bottom: 5px;
  height: 25px;
  width: 25px;
}

/* top md4 */
.row .col-md-4 {
  position: relative;
  width: 100%;
  font-size: 30px;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.col-md-4 p {
  padding-top: 5px;
  font-weight: bold;
}
.col-md-4 span {
  background-color: #57cad5;
  color: white;
  border-radius: 50%;
  margin: 5px;
  font-size: 25px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

/* --------------------------------------------------- */
/* sidebar */
.sidebar .row {
  display: flex;
  flex-wrap: wrap;

  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.sidebar .col-md-1 {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
/* icon */
.sidebar img {
  width: 35px;
}
.col-md-1 .fork {
  margin-top: 20px;
}
.col-md-1 .clipboard {
  margin-top: 20px;
}
.col-md-1 .add {
  margin-top: 15px;
  margin-bottom: 20px;
}

.sidebar .col-md-4 {
  font-size: 30px;
  padding-top: 10px;
  background: white;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}
/* addProduct */
.btn-pink {
  color: white;
  background: #f24f8a;
  border: white;
  width: 100px;
  border-radius: 10px;
}

/* ------------------------------------------------ */
/* menu */
/* .col-md-7 { */
/* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
/* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  background: rgba(190, 195, 202, 0.3);
} */

.sidebar .col-md-7 .row {
  background: rgba(190, 195, 202, 0.3);
}

.sidebar .col-md-7 .col img {
  width: 250px;
  height: 200px;
  padding-top: 20px;
  vertical-align: middle;
  border-style: none;
}

.row .select-image .select-icon {
  /* margin-top: 100px;
  margin-left: 200px; */
  width: 10px;
  height: 20px;
}

.row .select-image {
  width: 250px;
  height: 180px;
  margin-top: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.row .select-image img {
  width: 250px;
  height: 180px;
  margin-left: 7em;
  margin-top: 3.5em;
}
/* .sidebar .col-md-7 .b-iconstack {
  padding-top: 20px;
  margin-top: 10px;
  border-style: none;
} */
.col-md-7 .col-4 p {
  font-weight: bold;
  text-align: left;
}

.sidebar .col-md-7 .bi-cart3 {
  /* width: 240px; */
  cursor: pointer;
  margin-top: -10px;
  width: 40px;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background: green;
  border: 1px solid #82de3a;
  border-radius: 15px;
}

/* sort */
.sidebar .col-md-7 .col-12 {
  margin-top: 15px;
}

.sidebar .col-md-7 .col-12 select {
  cursor: pointer;
  background: #57cad5;
  border-radius: 15px;
  color: white;
  border-color: white;
}

.sidebar .col-md-7 .col-12 .page-link {
  background: #57cad5;
  border-color: white;
  color: white;
}

/* ------------------------------------- */
/* cart bottom */
.sidebar .col-md-4 .cartIn .img-cart {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}
.sidebar .col-md-4 .cartIn .total {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.sidebar .col-md-4 .cartIn .img-cart img {
  width: 110px;
  height: 110px;
}
.sidebar .col-md-4 .cartIn .items .btn {
  margin: 2px;
}

.col-md-4 .total-box .checkout .btn-primary {
  margin-top: 10px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: none;
  color: white;
  background: #57cad5;
}

.col-md-4 .cartIn .total-box .cancel {
  margin-top: 10px;
  background: #f24f8a;
  font-size: 25px;
  width: 100%;
  border: none;
  font-weight: bold;
  text-align: center;
  color: white;
}

.sidebar .col-md-4 {
  background: white;
  border: 1px solid #cecece;
}

.sidebar .col-md-4 img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
}

.sidebar .col-md-4 h4 {
  font-size: 30px;
  line-height: 39px;
}

.sidebar .col-md-4 p {
  font-size: 20px;
  line-height: 39px;
  color: #cecece;
}

/* searchUI */
.col-md-8 .search form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

.col-md-8 .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.col-md-8 .search button {
  box-sizing: border-box;
  padding: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: aqua;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.col-md-8 .search form:hover {
  width: 200px;
  cursor: pointer;
}

.col-md-8 .search form:hover input {
  display: block;
}

.col-md-8 .search form:hover .button {
  background: #07051a;
  color: white;
  border: none;
}

/* responsive */
/* small size */
@media screen and (max-width: 320px) {
  .col-md-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .row .select-image {
    width: 250px;
    height: 180px;
    margin-top: 20px;
    margin-left: 1.3em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 250px;
    height: 180px;
    margin-left: 0.5em;
    margin-top: 3.5em;
  }
  .sidebar .col-md-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 70px;
    height: 70px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 285px;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 h4 {
    font-size: 20px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 15px;
    line-height: 39px;
    color: #cecece;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .col-md-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .row .select-image {
    width: 250px;
    height: 180px;
    margin-top: 20px;
    margin-left: 3em;
    /* margin-right: auto; */
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    /* position: absolute; */
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 250px;
    height: 180px;
    margin-left: 0.5em;
    margin-top: 3.5em;
  }
  .sidebar .col-md-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 450px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 70px;
    height: 70px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 345px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 345px;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 h4 {
    font-size: 30px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 18px;
    line-height: 39px;
    color: #cecece;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .col-md-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .row .select-image {
    width: 250px;
    height: 180px;
    margin-top: 20px;
    margin-left: 3.7em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 250px;
    height: 180px;
    margin-left: 0.5em;
    margin-top: 3.5em;
  }
  .sidebar .col-md-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 450px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 100px;
    height: 100px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .col-md-4 .cartIn .total-box .checkout .line1 .fourth .print {
    width: 200px;
  }
  .sidebar .col-md-4 h4 {
    font-size: 30px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 18px;
    line-height: 39px;
    color: #cecece;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .sidebar .col-md-7 .col img {
    width: 180px;
    height: 150px;
    padding-top: 20px;
    vertical-align: middle;
    border-style: none;
  }

  .row .select-image {
    width: 180px;
    height: 130px;
    margin-top: 20px;
    margin-left: 0em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 250px;
    height: 180px;
    margin-left: 0.5em;
    margin-top: 2em;
  }
  .sidebar .col-md-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 450px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 100px;
    height: 100px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .col-md-4 .cartIn .total-box .checkout .line1 .fourth .print {
    width: 200px;
  }
  .sidebar .col-md-4 h4 {
    font-size: 30px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 18px;
    line-height: 39px;
    color: #cecece;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar .col-md-7 .col img {
    width: 170px;
    height: 150px;
    padding-top: 20px;
    vertical-align: middle;
    border-style: none;
  }

  .row .select-image {
    width: 170px;
    height: 130px;
    margin-top: 20px;
    margin-left: 0em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 100px;
    /* height: 180px; */
    margin-left: 0.6em;
    margin-top: 2em;
  }

  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 90px;
    height: 90px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .col-md-4 .cartIn .total-box .checkout .line1 .fourth .print {
    width: 200px;
  }
  .sidebar .col-md-4 h4 {
    font-size: 20px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 15px;
    line-height: 39px;
    color: #cecece;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .sidebar .col-md-7 .col img {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    vertical-align: middle;
    border-style: none;
  }

  .row .select-image {
    width: 200px;
    height: 180px;
    margin-top: 20px;
    margin-left: 0em;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    text-align: center;
    top: 0;
  }
  .row .select-image img {
    width: 100px;
    /* height: 180px; */
    margin-left: 0.6em;
    margin-top: 3.5em;
  }

  .col-md-1 .add {
    margin-top: 13px;
  }
  .col-md-4 button .cancel {
    margin-top: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .sidebar .col-md-4 .cartIn .img-cart img {
    width: 90px;
    height: 90px;
  }
  .col-md-4 .total-box .checkout .btn-primary {
    margin-top: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    background: #57cad5;
  }

  .col-md-4 .cartIn .total-box .cancel {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f24f8a;
    font-size: 25px;
    width: 100%;
    border: none;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .col-md-4 .cartIn .total-box .checkout .line1 .fourth .print {
    width: 200px;
  }
  .sidebar .col-md-4 h4 {
    font-size: 20px;
    /* line-height: 39px; */
  }

  .sidebar .col-md-4 p {
    font-size: 15px;
    line-height: 39px;
    color: #cecece;
  }
}
